

<h3 class="text-center">
    Создание экзамена для группы студентов (аудиторный) <br/>
    на {{ getDateStringRu() }}</h3>


<div class="container">
	<div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <form role="form">
                <div class="tab-content">

                    <div class="tab-pane active jumbotron" role="tabpanel" id="step1">
                        <h3 class="text-center">Укажите время начала и окончания экзамена</h3>
                        <p>&nbsp;</p>
                        <label>
                            Начало экзамена в:
                            <time-picker (timepickerChanged) = "changeStartTime($event)"></time-picker>
                        </label>

                        <label *ngIf = "startIsactive">
                            Окончание экзамена:
                            <time-picker (timepickerChanged) = "changeEndTime($event)"></time-picker>
                        </label>

                        <p style="margin-left: 15px; padding-top: 25px; float: right"
                                    *ngIf = "isActive()" >Продолжительность: {{ (endTime - startTime) / 60000  }} мин.
                        </p>

                        <p>&nbsp;</p>

                        <ul class="list-inline text-center">
                            <li><button type="button" class="btn btn-primary next-step" [disabled]="!isActive()">Запомнить и продолжить</button></li>
                        </ul>
                    </div>

                    <div class="tab-pane jumbotron" role="tabpanel" id="step2">
                        <h3 class="text-center">Количество студентов на экзамене</h3>
                        <p>&nbsp;</p>

                        <range-slider   [min]='1' [max]='100' [step]='1' [value] = 'studentCount' [labels] = 'true'
                                        (rangeSliderChanged) = "studensCountChange($event)">
                        </range-slider>
                        <p>&nbsp;</p>

                        <ul class="list-inline text-center">
                            <li><button type="button" class="btn btn-default prev-step">Предыдущее</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Запомнить и продолжить</button></li>
                        </ul>
                    </div>

                    <div class="tab-pane jumbotron" role="tabpanel" id="complete">
                        <div *ngIf="isActive()" class="hour-block">
                            <p>Создан экзамен (нажмите кнопку сохранить): <br/>
                                Начало: {{startTime.getHours()}}:{{startTime.getMinutes()}} <br/>
                                Продолжительность: {{ (endTime - startTime) / 60000  }} мин. <br/>
                                Количество студентов в аудитории: {{studentCount}}
                            </p>
                        </div>
                        <p>&nbsp;</p>

                        <ul class="list-inline text-center">
                            <li><button type="button" class="btn btn-primary">Сохранить результат</button></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </section>
   </div>
</div>