
<button (click) = "ddd()">sdsdsd</button>

<!--<div *ngFor = "let row of prepare().hours" class="hour-range">    
    <div *ngFor = "let r of row" style="float: left; height: 100px; 
                                        background-color: #ccc; margin: 2px 1px"
                                 [style.width]="r.width + '%'">
        {{r.width}} <br/>
        {{ r.id.substr(1,3) }} <br/>
        {{r.min}}
    </div>
<div>-->

    <!--<p>{{minutesArray.length}}</p>-->

<!--
<div *ngFor = "let row of rangeDivide()" class="hour-range">
    0
<div>-->
