
<div class="month">
    <table class="monthTable">
        <tr *ngFor = "let week of monthCalendar.weeks">
            <td *ngFor = "let day of week.days" >
                <div class="day" [ngClass]="{ dayOfmonth: day.inMonth, eventContainer: day.inMonth }">
                    <!--{{day.dateCalendar.getDate()}}-->
                    <day [eventDay] = "day"></day>
                </div>
            </td>
        </tr>
    </table>
</div>

<p>Дата - {{month}}</p>

    <button (click)="addEvent()">+ 25</button>

    <watch></watch>
