<button (click)="teacherSelect()"> dfsdf </button>

<button (click)="addEvent()"> ddddddddddddddddddddd </button>

<button (click)="selectTeacherAndDiscipline('tch2', 'h2')"> ssssssssssssss </button>


<div *ngIf="teachers != undefined" id="teacher_list">
    <div *ngFor="let teacher of teachers; let tchrIndx = index" title="{{teacher.name}}">
        <input name="tchr" type="radio" (change)="changeTeacher(teacher)" class="teacher_item" [checked] = "teacher == selectedTeacher">
        <teacher [teacher]="teacher"></teacher>
    </div>
</div>

<div *ngIf="selectedTeacher != undefined" id="teacher_disciplines">
    <div *ngIf="(disciplines | discp: selectedTeacher).length > 0" class="row" style="min-height:600px;">
        <div class="col-sm-12">

            <div class="col-xs-3">
                <ul class="nav nav-tabs tabs-left" >
                    <li *ngFor="let discipline of disciplines | discp: selectedTeacher" 
                        [class.active]="discipline == selectedDiscipline">
                        <a href="#{{discipline.id}}" data-toggle="tab" (click)="changeDiscipline(discipline);">{{discipline.title}}</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-9">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="{{selectedDiscipline.id}}">
                        <h2 *ngIf="selectedDiscipline != null">{{selectedDiscipline.title}}</h2>
                        <discipline *ngIf="selectedDiscipline != null" 
                                    [events]="events | oneDiscipln: selectedDiscipline">
                        </discipline>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>